body {
    background-color: #c5c5c5;
    font-family: 'Roboto', monospace;
    min-width: 520px;
    margin: 0;
}

.header {
    text-transform: uppercase;
    padding: 10px;
    font-size: 10px;
    background-color: #383838;
    color: 	#e0e0e0;
    height: 80px;
}

#header_text {
    margin-left: 30px;
    text-align: left;
    float: left;
}

.header img {
    float: left;
    width: 65px;
    height: 65px;
    margin-left: 10px;
    margin-top: 5px;
}


input {
    outline: none;
    text-align:center;
}

.error {
    background-color: #b2a5a5;
    border:1px solid #ff0000;
    border-radius: 5px;
}

.lab_text {
    text-align: center;
    font-size: 20px;
}


.x {
    margin-top: 20px;
    margin-left: 40px;
    float: left;
    width: 173px;
    height: 185px;
}

.x p {
    text-align: center;
}

.x button {
    font-size: 15px;
    width: 50px;
    height: 30px;
    font-weight: 500;
    color: black;
}

.x button:focus, .x button:active {
    outline: none;
}

.y {
    margin-top: 20px;
    margin-left: 40px;
    float: left;
    text-align: center;
    width: 200px;
}

.y input {
    margin-top: -15px;
    margin-bottom: 10px;
    width: 170px;
}

.r {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 15px;
    float: left;
    width: 200px;
    height: 90px;
}

.r p {
    text-align: center;
    height: 0;
}

.r input {
    width: 50px;
    height: 50px;
}

.form_buttons {
    width: 500px;
}

input[type=submit], input[type=reset] {
    font-weight: 500;
    font-size: 13px;
    color: white;
    width: 120px;
    height: 25px;
    border: 0;
    float: left;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 80px;
    background-color: #f53858;
}

input[type=submit]:hover, input[type=reset]:hover, .link_button:hover {
    background-color: #da324e;
}

.activeButton {
    border-radius: 5px;
    background-color:#f53858;
}

.ui-radiobutton-icon {
    right: 0.5px;
}

.nav input {
    float: right;
    margin-top: 31px;
    margin-right: 155px;
    font-weight: 500;
    font-size: 13px;
    color: #c5c5c5;
    width: 180px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    background-color: #383838;
}

input[type=button]:hover, input[type=reset]:hover, .link_button:hover {
    background-color: #4f4c4c;
}

.table {
    float: right;
    max-width: 500px;
    text-align: center;
}

.form {
    background-color: #f7f7f7;
    box-shadow: 1px 1px 4px rgb(160 160 160);
    float: right;
    width: 498px;
    height: 280px;
    margin-right: 1px;
}

.right_menu {
    float: right;
    margin: auto 50px auto auto;
    padding: 10px;
    height: 450px;
    width: 500px;
}

.info {
    float: left;
    width: 450px;
    height: 450px;
    margin-left: 50px;
    padding: 10px;
}

.x_1 {
    margin-left: 9px;
    margin-top: 10px;
    height: 35px;
}

.x_2 {
    margin-top: 5px;
    margin-left: 9px;
    height: 35px;
}

.x_3 {
    margin-top: 5px;
    margin-left: 9px;
    height: 35px;
}